.app{
  display: grid;
  grid-template-rows: repeat(6, 20vh);

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 120vh;
}
.app-header{
  display:flex;
  justify-content: space-between;
  background-color: #2d7df5;
  padding: 1vw;
  color: white;
  font-size: 3vw;
  text-align: center;
  width:100vw;
}
.hidden{
  display:none;
}

.egg-timer{
  background-color: eggshell;
  width: 20vw;
  height: 15vw;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
  font-size: 2vw;
  border-radius: 1vw;
  box-shadow: 0 0 1vw rgb(233, 226, 226);
  margin: 1vw;

  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(255, 187, 0)
}
.egg-timer-contents{
  margin-left: 2vw;
}

.egg-timer button{
  font-size: 1.5vw;
  margin-top: 1vw;
  background-color: rgb(255, 187, 0);
  border: none;
  border-radius: 0.5vw;
  padding: 0.5vw 1vw;
  color: white;
  cursor: pointer;
}
.egg-timer button:hover{
  background-color: rgb(200, 150, 0);
}

#dropdown-menu{
  display:flex;
  font-size: 3vw;
  margin: 1vw;
  cursor: pointer;

}

/* Comment section styles */
.comment-section {
  grid-row:6;
  background: #dd7474;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.06);
  width:90vw;
  max-width: 100vw;
  height:20vw;
  margin: 1rem auto;
}
.comment-form .form-control {
  resize: vertical;
}
.comment-item .card-body {
  padding: 0.75rem 1rem;
}
